/* Start Global Style */
@font-face {
    font-family: 'Gilroy-Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/../fonts/Gilroy-Bold.ttf') format('ttf');
}



@font-face {
    font-family: 'Gilroy-Light';
    font-style: normal;
    font-weight: normal;
    src: url('/../fonts/Gilroy-Light.ttf') format('ttf');
}




@font-face {
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/../fonts/Gilroy-Regular.ttf') format('ttf');
}
/* End Global Style */