/* Start footer Content */

.footer { 
    padding-top: 45px;
    padding-bottom: calc(32px - 3rem);
    background-color: #f7fafd;
}

.footer .footer-content p {
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2d2e2e;
}

/* End footer Content */