/* Start our numbers Content */

.our-numbers {
    padding-top: 162px;
    padding-bottom: 75px;
}

.our-numbers .left-box h2 {
    width: 443px;
    height: 62px;
    margin: 23px 26px 12px 102px;
    font-family: 'Gilroy-Bold';
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -0.96px;
    color: #2d2d2d
}

.our-numbers .left-box p {
    width: 454px;
    height: 140px;
    margin: 25px 14px 26px 103px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #2d2d2d
}

.our-numbers .left-box button {
    width: 216px;
    height: 59px;
    margin: 15px 257px 25px 98px;
    border-radius: 29.5px;
    background-color: #6246e4;
    border: none;
    outline: none
}

.our-numbers .left-box button span{
    width: 95px;
    height: 22px;
    font-family: 'Gilroy-Bold';
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block
}

.our-numbers .right-box {
    position: relative
}

.our-numbers .right-box .box:first-child {
    width: 198px;
    height: 198px;
    padding: 44px 5px 15px 45px;
    opacity: 0.72;
    border-radius: 70px;
    background-color: #f990b6;
    display: inline-block;
    position: absolute;
    top: -30px;
    left: 140px;
    z-index: 2
}

.our-numbers .right-box .box:first-child span:first-child{
    width: 107px;
    height: 45px;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff
}

.our-numbers .right-box .box:first-child span:last-child {
    width: 102px;
    height: 31px;
    padding: 1px 1px 1px 8px;
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block
}

.our-numbers .right-box .box:nth-child(2) {
    width: 252px;
    height: 251px;
    padding: 69px 58px 21px 35px;
    opacity: 0.72;
    border-radius: 89px;
    background-color: #68def0;
    display: inline-block;
    position: absolute;
    top: -70px;
    left: 307px;
    z-index: 3
}

.our-numbers .right-box .box:nth-child(2) span:first-child{
    width: 107px;
    height: 45px;
    margin: 0px 0 7px 11px;
    padding: 16px 24px 20px 10px;
    font-size: 63px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block
}

.our-numbers .right-box .box:nth-child(2) span:last-child {
    width: 102px;
    height: 31px;
    margin: 0px 0 23px 54px;
    padding: 1px 1px 1px 8px;
    font-size: 41px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block
}

.our-numbers .right-box .box:nth-child(3) {
    width: 252px;
    height: 251px;
    padding: 44px 4px 74px 1px;
    border-radius: 89px;
    background-color: #92bbfc;
    display: inline-block;
    position: absolute;
    top: 121px;
    left: 213px;
    z-index: 1
}

.our-numbers .right-box .box:nth-child(3) span:first-child {
    width: 101px;
    height: 63px;
    margin: 12px 5px 0px 66px;
    padding: 7px 4px 9px 7px;
    font-size: 63px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block;
}

.our-numbers .right-box .box:nth-child(3) span:last-child {
    width: 140px;
    height: 31px;
    margin: 0px 4px 0px 50px;
    font-size: 31px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: inline-block
}

.our-numbers .right-box .ball {
    display: inline-block;
    border-radius: 50%
}

.our-numbers .right-box .ball:nth-child(4) {
    width: 38px;
    height: 38px;
    background-color: #9acf61;
    position: absolute;
    top: -96px;
    left: 219px;
}

.our-numbers .right-box .ball:nth-child(5) {
    width: 26px;
    height: 26px;
    background-color: #eeedf2;
    position: absolute;
    top: -116px;
    left: 414px
}

.our-numbers .right-box .ball:nth-child(6) {
    width: 26px;
    height: 26px;
    background-color: #eeedf2;
    position: absolute;
    top: 47px;
    left: 13px
}

.our-numbers .right-box .ball:nth-child(7) {
    width: 21px;
    height: 21px;
    background-color: #fcbc14;
    position: absolute;
    top: 230px;
    left: 156px
}

.our-numbers .right-box .ball:nth-child(8) {
    width: 15px;
    height: 15px;
    background-color: #917fe5;
    position: absolute;
    top: 215px;
    left: 500px
}

/* End our numbers Content */